.pageWrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
}

.tile {
    color: white;
    font-size: 14px;
    display: flex;
    padding: 10px 15px;
    border-radius: 10px;
    background-color: rgba(255,255,255, 0.2);
    box-shadow: 0 5px 8px 2px rgba(0, 0, 0, 0.1);
    margin: 10px;
    align-items: center;
    line-height: 23px;
    position: relative;
    flex: 1 1 300px;
    //width: 300px;
}

.info {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
}

.label {
    font-weight: bold;
    margin-right: 5px;
    display: none;
}

.subCategory {
    margin-bottom: 10px;
}

.name {
    font-weight: bold;
}

.category {
    margin-right: 5px;
}
.subCategory, .category {
    font-size: 12px;
    background: rgba(255,255,255, 0.2);
    border-radius: 5px;
    padding: 2px 5px;
}

.icon {
    padding: 10px;
    border-radius: 10px;
    // background: #e6edf9;
    background: rgba(255,255,255, 0.3);
    min-height: 24px;
    min-width: 24px;
    max-height: 72px;
    max-width: 72px;
    width: 8vw;
}

.copyIcon {
    min-height: 16px;
    min-width: 16px;
    width: 1.1vw;
    cursor: pointer;
    margin-left: 5px;
    padding: 3px;
    background: rgba(255,255,255, 0.3);
    // background: #e6edf9;
    border-radius: 3px;
    // padding: 2px 1px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.3);

    display: none;
}

.tile:hover .copyIcon {
    display: inline-flex;
}

.copyIcon:active {
    box-shadow: unset;
}

.filters {
    margin-bottom: 8px;
}