.signIn { 
    width: 400px;
    padding: 32px;
    border-radius: 18px;
    // backdrop-filter: blur(65px);
    border: 1px solid rgba(0, 0, 0, .1);
    background-color: rgba(0, 0, 0, .2);
    box-shadow: 0 5px 8px 2px rgba(0, 0, 0, 0.1);
    margin: auto;
}

.title {
    font-size: 21px;
    margin: 0 0 20px;
    color: white;
}

.field {
    display: block;
    margin-bottom: 20px;
}

.fieldLabel {
    font-size: 12px;
    color: white;
    margin: 5px 0;
    display: block;
    font-weight: 400;
}

.fieldInput {
    width: 100%;
    border-radius: 5px;
    height: 35px;
    border: 1px solid #0e1759;
    box-shadow: 1px 1px 2px #666 inset;
    padding: 5px;

    &:hover {
        box-shadow: 1px 1px 2px #666 inset, 0 0 10px white;
    }
}

.button {
    margin-left: 10px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    background: -webkit-gradient(linear, right top, left top, color-stop(0, #ff8689), to(#c9a6ff));
    background: linear-gradient(270deg, #ff8689 0, #c9a6ff 100%);
    border-color: linear-gradient(270deg, #ff8689 0, #c9a6ff 100%);
    color: #000;
    &:hover {
        filter: brightness(1.15);
    }
}

.createAccount {
    filter: opacity(0.5);
    &:hover {
        filter: opacity(.8);
    }
}

.signInFooter {
    text-align: right;
    margin: 30px 0 0;
}

